.jumbotron{
    margin-bottom: 0rem;
}

.bg-teal{
    background-color: teal;
}
.text-gray{
    color: gray;
}
.card-footer{
    background-color: transparent;
    border-top: none;
}

.card{
    border: 1px solid rgb(144, 142, 142);
}

.card:hover{
    border: 2px solid rgb(70, 69, 69);
}
.border-bottom{
    border-bottom: 3px double green !important; 
}

.activeChude{
    background-color: grey;
    color: white;
}
.list-group-item{
    border: none;
    border-bottom: 1px solid teal;
    border-radius: 5px;
}
a{
    text-decoration: none !important;
}
.contact input[type="text"],.search input[type="text"]{
    border: none;
    border-bottom: 1px solid grey;
}
::placeholder{
    color: teal;
    font-style: italic;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

table tr td{
    vertical-align: middle !important;
}

/* Chèn Font Google */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');
.font-playwrite-au-qld{
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
}

/* Chèn Font từ thư mục Fonts */
@font-face {
    font-family: "font-Sansation-Bold";
    src: url(../fonts/Sansation-Bold.ttf);
}

@font-face {
    font-family: "Pacifico-Regular";
    src: url(../fonts/Pacifico-Regular.ttf);
}

.font-Sansation-Bold{
    font-family: font-Sansation-Bold;
}
.font-Pacifico-Regular{
    font-family: Pacifico-Regular;
}

.error{
    color: brown;
}
h6{
    color: brown;
    text-decoration: underline;
    font-style: italic;
}

.content{
    text-indent: 2rem;
    text-align: justify;
    color: gray;
}
.content span{
    font-weight: bold;
    color: brown;
}

